body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 7%;
}

.about-page {
    background-color: black;
    color: white;
    padding: 20px;
}

.page-container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    animation: slideInFromLeft 1s ease-in-out;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ff6347;
    animation: slideInFromLeft 1s ease-in-out;
}

.about-section {
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    animation: slideInFromRight 1s ease-in-out;
}

a {
    color: #ff6347;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffa07a;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
